/*
===================================================================
TYPOGRAPHY
===================================================================
*/


h1 {
    font-family: Open Sans;
    color: rgb(32, 32, 32);
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -1px;
}


h5 {
    font-family: Open Sans;
    color: rgb(180, 180, 180);
    font-size: 10px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 3px;
}

p {
    font-family: Open Sans;
    color: rgb(148, 148, 148);
    font-size: 13px;
    line-height: 25px;
    padding-top: 10px;
}

/*
===================================================================
SETUP
===================================================================
*/

.flexbox {
    display: flex;
    flex-direction: row;
}

.canvas{
    border:1px black dotted;
    position:absolute;  
    top:0px;
    bottom:0px;
    left:26%;
    right:0px;
}

#canvas-container {
    width: 75%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#canvas-draft {
    background-color: rgba(197, 149, 149, 0.301);
    /* background-color: rgba(255, 255, 255, 0) */
}


.left {
    width: 25%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.vl {
    border-left: 1.5px solid rgb(226, 226, 226);
    height: 90vh;
    position: absolute;
    top: 5%;
    left: 26%;
    margin-left: 0px;
  }

.button-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
    top: 75%;
    /* position: absolute; */
}


/*
===================================================================
BUTTONS
===================================================================
*/

.buttons {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    background-color: white;
}

.button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.60);
}


.expanding-button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.60);
    display: flex;
    align-items: center;
}

/* .button:hover {
    -webkit-box-shadow: 0px 0px 90px -15px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 90px -15px rgba(0,0,0,1);
    box-shadow: 0px 0px 90px -15px rgba(0,0,0,1);
    background-color: DEEPSKYBLUE;
    color: white;
} */

.fa {
    color: black;
}

.fas {
    font-size: 30px;
    color: black;
}

/*
===================================================================
TEXTS
===================================================================
*/

  .text-container {
      width: 85%;
      height: 300px;
      margin-top: 5px;
      margin-right: 10px;
  }

/*
===================================================================
COLOR PICKER
===================================================================
*/

.fa-palette {
    position: absolute;
}

#color-picker {
    background-color: white !important;
    display: flex;
    justify-content: center
}

.color-button {
    display: none;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px -15px rgba(0,0,0,0.50);
}

.color-picker-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#color-button-red {
    background-color: #DC143C;
}

#color-button-orange {
    background-color: #FF4500;
}

#color-button-yellow {
    background-color: #FFFF00;
}

#color-button-green {
    background-color: #3CB371;
}

#color-button-blue {
    background-color: #4169E1;
}

#color-button-purple {
    background-color: #8B008B
}

#color-button-black {
    background-color: #000;
}

/*
===================================================================
SLIDER
===================================================================
*/
.slider {
    position: relative;
    width: 78%;
    height: 4px;
    margin: 10%;
    background: red;
    border-radius: 2px;
    display: none;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3232+0,fff130+20,45ff30+35,28fff0+52,282cff+71,ff28fb+88,ff0094+100 */
  
  }
  
  .grad {
  background: #ff3232; /* Old browsers */
  background: -moz-linear-gradient(left,  #ff3232 0%, #fff130 20%, #45ff30 35%, #28fff0 52%, #282cff 71%, #ff28fb 88%, #ff0094 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff3232), color-stop(20%,#fff130), color-stop(35%,#45ff30), color-stop(52%,#28fff0), color-stop(71%,#282cff), color-stop(88%,#ff28fb), color-stop(100%,#ff0094)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #ff3232 0%,#fff130 20%,#45ff30 35%,#28fff0 52%,#282cff 71%,#ff28fb 88%,#ff0094 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #ff3232 0%,#fff130 20%,#45ff30 35%,#28fff0 52%,#282cff 71%,#ff28fb 88%,#ff0094 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #ff3232 0%,#fff130 20%,#45ff30 35%,#28fff0 52%,#282cff 71%,#ff28fb 88%,#ff0094 100%); /* IE10+ */
  background: linear-gradient(to right,  #ff3232 0%,#fff130 20%,#45ff30 35%,#28fff0 52%,#282cff 71%,#ff28fb 88%,#ff0094 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#ff0094',GradientType=1 ); /* IE6-9 */
  }
  
  .handle{
    position: absolute;
    top: -10px;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: red;
    box-shadow: 0 0 0 0 rgba(0,0,0,.3), inset 0 0 0 0 #fff;
    transition: box-shadow .2s;
  }
  
  .handle.pop {
    box-shadow: 0 0 4px 0 rgba(0,0,0,.3), inset 0 0 0 4px #fff;
  }
  
  .handle:before {
    content: '';
    position: absolute;
    top:8px;
    left:50%;
    margin-left: -2px;
    background: inherit;
    width: 4px;
    height: 4px;
    border-radius: 20px;
    transition: top .2s,left .2s,margin-left .2s, height .2s,width .2s;
   }
  .handle
  .pop:before {
    top:-50px;
    left:50%;
    margin-left: -20px;
    background: inherit;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.3);
    
   }
  
  
   